body {
  width: available;
  height: available;
}

.container {
  width: available;
  height: available;
}

.leftpane {
  background-color: #2e2e2e;
  border-collapse: collapse;
  color: white;
  font-family: "Libre Baskerville", serif;
  float: left;
  height: available;
  width: 16%;
  min-width: 66px;
  min-height: 650px;
  margin-top: 50px;
  margin-right: 30px;
  opacity: 0.9;
  text-align: center;
}

.leftpane:hover {
  opacity: 1;
  color: white;
}

.middlepane {
  width: 50%;
  min-width: 722px;
  height: available;
  min-height: 650px;
  margin-top: 50px;
  float: left;
  background-color: #090909;
  border-collapse: collapse;
  font-family: "Libre Baskerville", serif;
  text-align: center;
  color: white;
}

.rightpane {
  width: available;
  height: 50%;
  min-height: 650px;
  position: relative;
  margin-left: 78.8%;
  background-color: yellow;
  border-collapse: collapse;
}
